{% extends "layout.html"%}
{% block content%}
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-12">
            <h3>Some of the famous Madhubani artists.</h3>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
              <div class="card" >
                <img class="card-img-top" src="../static/images/sita-boubat.jpg" alt="">
                <div class="card-body">
                  <h4 class="card-title">Sita Devi</h4>
                  <!-- <blockquote class="blockquote"> -->
                  <p class="card-text">Sita Devi, one of the most prominent early Mithila artists and among the first to transfer the traditional art form from the walls of the home to paper and canvas, was a Mahapatra Brahmin from the village of Jitwarpur. </p>
                  <a href="#" class="btn btn-outline-danger blockquote-footer">From wikipedia</a>
                <!-- </blockquote> -->
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card" >
                <img class="card-img-top" src="../static/images/mahasundari.jpg" alt="">
                <div class="card-body">
                  <h4 class="card-title">Mahasundari Devi</h4>
                  <p class="card-text">Mahasundari Devi  was an Indian artist and Madhubani painter.She was awarded the Tulsi Samman by the Government of Madhya Pradesh in 1995, and in 2011 she received the Padma Shri award from the Government of India.</p>
                  <a href="https://en.wikipedia.org/wiki/Mahasundari_Devi" class="btn btn-outline-danger blockquote-footer">From wikipedia</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card" >
                <img class="card-img-top" src="../static/images/Dularidevi.jpg" alt="">
                <div class="card-body">
                  <h4 class="card-title">Dulari Devi</h4>
                  <p class="card-text">Dulari Devi  is an Indian artist and illustrator, working in the Madhubani art tradition. In 2020, she was a recipient of the Padma Shri, a civilian honour granted by the Government of India, for her contributions to art.</p>
                  <a href="https://en.wikipedia.org/wiki/Dulari_Devi_(artist)" class="btn btn-outline-danger blockquote-footer">From wikipedia</a>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
              <div class="card" >
                <img class="card-img-top" src="../static/images/Bharti_Dayal.jpg" alt="">
                <div class="card-body">
                  <h4 class="card-title">Bharti Dayal</h4>
                  <p class="card-text">Bharti Dayal Dayal has given a contemporary cast to traditional Madhubani art by using modern media such as acrylic and canvas. She paints with natural, vegetable-based colours.</p>
                  <a href="https://en.wikipedia.org/wiki/Bharti_Dayal" class="btn btn-outline-danger blockquote-footer">From wikipedia</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card" >
                <img class="card-img-top" src="../static/images/PushpaKUMARI.jpg" alt="">
                <div class="card-body">
                  <h4 class="card-title">Pushpa Kumari</h4>
                  <p class="card-text">Pushpa Kumari is one of India’s foremost contemporary traditional artists and divides her time between Delhi and her ancestral village of Ranti.</p>
                  <a href="https://www.biennaleofsydney.art/artists/pushpa-kumari/" class="btn btn-outline-danger blockquote-footer">From wikipedia</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card" >
                <img class="card-img-top" src="../static/images/malvikaa.jpg" alt="">
                <div class="card-body">
                  <h4 class="card-title">Malvika Raj</h4>
                  <p class="card-text">Malvika is an Indian artist and fashion designer. She works in the Madhubani style of art. As a Dalit, she has used art to express her experiences with caste-based discrimination in India, and uses traditional techniques to express themes relating to Dalit identity and the Buddhist religion.</p>
                  <a href="https://en.wikipedia.org/wiki/Malvika_Raj" class="btn btn-outline-danger blockquote-footer">From wikipedia</a>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
